node_modules/
.env.local
.next
*.py
*.xlsx
*.numbers
*.csv
*.json
*.txt
*.log
*.md
*.pdf
*.docx
*.doc
requirements.txt
*.mongodb.js
*.mongodb.json

# AWS DocumentDB SSL 인증서
certs/
scripts/
.env
*.pem
